  <form action="/receipt" method="post">
  <label for="bread">Enter Pastry</label>
  <input id="bread" type="number" name ="bread" placeholder="Bread Qty" required min=0 max =25 step=1>
  <label for="pastry"></label>
  <input id="pastry" type="number" name ="pastry" placeholder="Pastry Qty" required min=0 max =25 step=1>
  <button type="submit">Place Order</button>
  </form>