Bread
  
<form action="/" method="post">
  <button type="submit">Cancel</button>
</form>

<form action="/addBread" method="post">
  <label for="quantity">Amount of bread</label>
  <input id="quantity" type="number" name="Quantity" required>
  <button type="submit">Add To Order</button>
</form>
  @* <form action="/receipt" method="post">
  <label for="bread">Enter Pastry</label>
  <input id="bread" type="number" name ="bread" placeholder="Bread Qty" required min=0 max =25 step=1>
  <label for="pastry"></label>
  <input id="pastry" type="number" name ="pastry" placeholder="Pastry Qty" required min=0 max =25 step=1>
  <button type="submit">Place Order</button>
  </form> *@